@if(midi != null){
    <div class="midi">
        <div class="main-info magnetic">
            <midi-img [midi]="midi" [priority]="true" [class]="{'transition': transition}"></midi-img>
        </div>
        <div class="midi-info">
            <player-widget [midi]="midi" [audioContext]="audioContext" class="magnetic"></player-widget>
            <div class="title-price">
                <h1 class="title">{{ midi.name }}</h1>
                <p class="price">€{{ midi.price }}</p>
            </div>
            <div class="actions">
                @if(app.isInCart(midi)){
                    <button class="btn btn-primary magnetic" routerLink="/checkout" title="Proceed to checkout">
                        Proceed to checkout
                    </button>
                }@else{
                    <button class="btn btn-primary magnetic" (click)="app.addToCart(midi, $event)" title="Add to Cart">
                        <img class="icon-cart" width="20" height="20" ngSrc="/icons/bag.svg" alt="Checkout" />
                        Add to Cart
                    </button>
                }
            </div>
        </div>
    </div>
    
    <div class="related-midi">
        @defer (hydrate on viewport) {
            <midi-list [loadItemsOfType]="'related'" [relatedMidiSlug]="midi.slug" [hideIfEmpty]="true" [loadOnScroll]="false" [context]="'midi'" [exclude]="[_midi]">
                <h2 class="page-title" slot="before">Related</h2>
            </midi-list>
        }
    </div>
}


@defer (hydrate on viewport) {
    <midi-list [loadItemsOfType]="'user-related'" [hideIfEmpty]="true" [loadOnScroll]="false" [context]="'midi'" [exclude]="[_midi]">
        <h2 class="page-title" slot="before">You might also like</h2>
    </midi-list>
}

@defer (hydrate on viewport) {
    <midi-list [loadItemsOfType]="'latest'" [context]="'midi'" [exclude]="[_midi]">
        <h2 class="page-title" slot="before">Latest Midi Files</h2>
    </midi-list>
}