@use "mixins" as mix;

/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
    touch-action: manipulation;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.page-title {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 10px;
}


.btn {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    opacity: 0.9;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        vertical-align: sub;
    }

    &:hover {
        opacity: 1;
    }
}

a.btn:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--primary-blue);
    box-shadow: 0 1px 8px -1px var(--primary-blue);
}

.btn-secondary {
    background-color: var(--secondary-orange);
    box-shadow: 0 1px 8px -1px var(--secondary-orange);
}

.btn.btn-transparent {
    background: transparent;
    color: var(--text);
}

.text-center {
    text-align: center;
}

.container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin-bottom: 10px;
    }
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.12em solid currentColor;
    border-radius: 0.15em;
    cursor: pointer;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

// input[type="checkbox"]:focus {
//     outline: max(2px, 0.15em) solid currentColor;
//     outline-offset: max(2px, 0.15em);
// }

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);

    color: var(--form-control-disabled);
    cursor: not-allowed;
}

input[type="email"] {
    all: unset;
    background: #8686861f;
    border-radius: 7px;
    margin: 2px 10px;
    padding: 3px 8px;
  }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #fff;
    caret-color: #fff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px rgba(134, 134, 134, 0.1215686275);
}

input {
    cursor: pointer!important;
}

@include mix.mobile {
    .desktop-only {
        display: none !important;
    }
}

@include mix.desktop {
    .mobile-only {
        display: none !important;
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

::view-transition-old(root) {
    animation: 50ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(root) {
    animation: 100ms cubic-bezier(0, 0, 0.2, 1) 45ms both fade-in;
}

::view-transition-old(midi-image),
::view-transition-new(midi-image) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-image-pair(midi-image) {
    isolation: none;
}




[data-transition="to-checkout"] {
    view-transition-name: to-checkout;
	&::view-transition-old(to-checkout) {
	}
	&::view-transition-new(to-checkout) {
		animation: maskExpand .4s ease-in forwards;
		mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="2000" height="2000"%3E%3Ccircle cx="100%" cy="0%" r="1000" fill="white" /%3E%3C/svg%3E');
        mask-origin: view-box;
        mask-repeat: no-repeat;
        mask-position: top right;
        mask-size: 0% auto;
	}
}

@keyframes maskExpand {
	100% {
		mask-size: 300% auto;
	}
}